.form {
  margin: 100px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
}

textarea {
  width: 70%;
  margin-right:auto;
  margin-left:auto;
}

button {
  width:15%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}